[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
whoosh = "*"
pytorch-pretrained-bert = "*"
termcolor = "*"
black = "*"

[requires]
python_version = "3.6"
